/**
 * All of the CSS for your admin-specific functionality should be included in this file.
 *
 * The file is enqueued from inc/admin/class-admin.php.
 */

th.column-reactie_type {
	width: 100px;
}

 th#thumbnail {
 	width: 100px;
 }

td.attachmentLink {
	display: block;
} 

td.thumbnail img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

 /*th#title {
 	width: 200px;
 }*/