/**
 * All of the CSS for your public-facing functionality should be included in this file.
 *
 * The file is enqueued from inc/frontend/class-frontend.php.
 */

.person-hentry {
    margin-bottom: 42px;
    position: relative;
    /*border: 1px solid #e9e9e9;*/
}

.person-hentry-main {
    padding: 12px 12px 12px 170px;
}

.person-thumb {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
}

.person-hentry .entry-title {
    margin-top: 0;
}

.person-meta ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.person-meta {
    font-size: 11px;
    margin-bottom: 20px;
}

#comment-form-select-type .btn {
margin-bottom: 8px;
margin-right: 4px;
margin-left: 0;
line-height: 1;
}

.search-videos input[type="text"] {
width: 300px;
display: inline-block;
}

.snipp {
margin-top: 20px;
margin-bottom: 20px;
}

.snipp:after {
display: block;
content: '';
clear: both;
}

.search-video-item {
margin-bottom: 20px;
float: left;
width: 33.334%;
padding: 8px;
}

.search-video-item:nth-child(3n+1) {
clear: both;
}

.snipp iframe {
margin-bottom: 0px;
}

.btn-select-video {
font-size: 12px;
line-height: 1;
padding: 8px 12px;
border: 1px solid #ccc;
}

.video-title {
font-weight: bold;
margin-bottom: 8px;
}

.nextPageButton {
line-height: 1;
padding: 8px 12px;
font-weight: normal;
font-size: 12px;
}

#youtube-searchbox {
display: none;
}

.comment-form-message {
display: none !important;
}

.attachmentFile img {
    max-width: 100% !important;
    height: auto !important;
}

/* .single-cpt_condolances .reply {
display: none !important;
} */


.single-cpt_condolances li .comment-form-comment,
.single-cpt_condolances li .comment-form-author,
.single-cpt_condolances li .comment-form-email, 
.single-cpt_condolances li .form-submit {
    display: block;
}

.single-cpt_condolances .comment-list #comment-form-select-type {
    display: none;
}

.single-cpt_condolances .comment-list .comment-form-comment,
.single-cpt_condolances .comment-list .comment-form-author,
.single-cpt_condolances .comment-list .comment-form-email, 
.single-cpt_condolances .comment-list .form-submit {
    display: block;
}

.single-cpt_condolances .comment-form-title,
.single-cpt_condolances .comment-form-comment,
.single-cpt_condolances .comment-form-author,
.single-cpt_condolances .comment-form-url,
.single-cpt_condolances .comment-form-email, 
.single-cpt_condolances .form-submit,
.single-cpt_condolances .comment-notes,
.single-cpt_condolances .tahlil-input-wrapper,
.single-cpt_condolances .comment-form-desc,
.single-cpt_condolances .comment-notes {
    display: none;
}

.single-cpt_condolances .reactie_selected_type_video #youtube-searchbox,
.single-cpt_condolances .reactie_selected_type_music #youtube-searchbox,
.single-cpt_condolances .reactie_selected_type_video .tahlil-input-wrapper#tahlil-video-input,
.single-cpt_condolances .reactie_selected_type_poetry .tahlil-input-wrapper#tahlil-poetry-input,
.single-cpt_condolances .reactie_selected_type_music .tahlil-input-wrapper#tahlil-music-input,
.single-cpt_condolances .reactie_selected_type_quote .tahlil-input-wrapper#tahlil-quote-input,
.single-cpt_condolances .reactie_selected_type_photos .tahlil-input-wrapper#tahlil-photos-input,
.single-cpt_condolances .reactie_selected_type_word .tahlil-input-wrapper#tahlil-word-input {
    display: block;
}

.single-cpt_condolances .reactie_selected_type_video.video-selected #youtube-searchbox,
.single-cpt_condolances .reactie_selected_type_music.video-selected #youtube-searchbox {
    display: none;
}

.single-cpt_condolances .reactie_selected_type_photos .comment-form-desc {
    display: block;
}

.single-cpt_condolances .reactie_selected_type_quote .comment-form-desc,
.single-cpt_condolances .reactie_selected_type_photos .comment-form-desc,
.single-cpt_condolances .reactie_selected_type_poetry .comment-form-desc,
.single-cpt_condolances .reactie_selected_type_word .comment-form-desc {
    display: none;
}

.single-cpt_condolances .reactie_selected_type .comment-form-title,
.single-cpt_condolances .reactie_selected_type .comment-form-comment,
.single-cpt_condolances .reactie_selected_type .comment-form-author,
.single-cpt_condolances .reactie_selected_type .comment-form-url,
.single-cpt_condolances .reactie_selected_type .comment-form-email, 
.single-cpt_condolances .reactie_selected_type .form-submit {
display: block;
}

.tahlil-input-wrapper {
position: relative;
}

.btn-cancel-choose-type {
position: absolute;
top: 0;
right: 0;
border: 1px solid #f9f9f9;
background: #e9e9e9;
font-size: 12px;
padding: 8px 12px;
display: inline-block;
margin: 8px 0;
}

.reactie-caption {
margin-bottom: 20px;
}

.reactie-caption.quote {
font-size: 20px;
position: relative;
padding-left: 20px;
margin-top: 18px;
}

.reactie-caption.quote:before {
content: '"';
font-size: 32px;
font-weight: bold;
position: absolute;
top: -10px;
left: 0;
}


.reactie-heading {
display: block;
font-weight: bold;
color: #a9a9a9;
font-size: 11px;
}

.attachmentLink {
display: block;
line-height: 1;
text-decoration: none;
}

.attachmentFile {
margin-top: 8px;
}

#attachmentForm input[type="text"],
#attachmentForm input[type="email"] {
    height: 40px;
}

#attachmentForm div.error {
    font-size: 12px;
    color: red;
    padding-top: 8px;
}

.comment-content a.attachmentLink,
.comment-content a.attachmentLink:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
}

#success-message-wrapper {
    padding-top: 140px;
    margin-bottom: 40px;
}

.wpb_text_column .summary ul li:before {
    display: none;
}